:root {
    --params-width: 65%;
    --thumbnail-width: calc(100% - 2% - var(--params-width));
}

.ppi-add-to-cart-button {
    text-transform: capitalize !important;
    font-weight: 700 !important;
    display: flex !important;
    align-items: center;
}

.ppi-upload-form {
    text-align: center;
    margin-bottom: 8px;
    display: inline-block;
    width: var(--params-width);
}

.upload-disabled {
    border: 1px darkgrey solid !important;
    color: darkgrey !important;
    cursor: not-allowed !important;
}

.upload-disabled:active {
    pointer-events: none;
}

.ppi-upload-form .upload-label {
    border: 2px rgb(105, 105, 105) solid;
    color: rgb(105, 105, 105);
    cursor: pointer;
    user-select: none;
    padding: 5px;
    margin-bottom: 0;
    display: block;
}

#file-upload-validation {
    margin-bottom: 8px;
}

.ppi-disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}

.ppi-disabled:active {
    pointer-events: none;
}

.ppi-upload-parameters {
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.ppi-upload-parameters .params-container {
    width: var(--params-width);
}

.ppi-upload-parameters .thumbnail-container {
    width: var(--thumbnail-width);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ppi-min-height {
    min-height: 7em;
}

.ppi-upload-parameters .param-line {
    color: rgb(82, 82, 82);
    cursor: default;
    user-select: none;
    display: flex;
    justify-content: space-between;
    font-size: 90%;
    padding: 0 5px;
    background-color: lightgrey;
    border-bottom: 1px solid darkgrey;
}

.ppi-response-error {
    color: red;
}

#ppi-loading {
    margin-right: 10px;
    opacity: 1;
    color: white;
    animation: rotate-with-color 1.5s linear infinite;
}

.ppi-hidden {
    display: none !important;
}

@keyframes rotate-with-color {
    25% {
        color: rgb(24, 53, 94);
        transform: rotate(90deg);
    }
    50% {
        color: rgb(24, 53, 94);
        transform: rotate(180deg);
    }
    75% {
        color: rgb(24, 53, 94);
        transform: rotate(270deg);
    }
    100% {
        color: white;
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
